<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="fasterflect" version="2.1.3" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OpenSSL.PrivateKeyDecoder" version="1.2.0" targetFramework="net461" />
  <package id="OpenSSL.X509Certificate2.Provider" version="1.2.0" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="SlackAPI" version="1.1.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Telegram" version="1.0.1" targetFramework="net461" />
  <package id="TLSchema" version="1.1.0" targetFramework="net461" />
</packages>